<h1>Log In</h1>

<form action="/account/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Log In</button>
</form>

<p>New around here? <a href="/account/register">Create a new account</a></p>