
form {
	text-align: center;

	& legend {
		font-weight: bold;
	}

	& input[type=checkbox] {
		display: inline-block;
		text-align: center;
		& + label {
			display: inline-block;
		}
	}

	& label, & button, & input, & textarea {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	& label {
		margin-top: 0.3rem;
	}

	& button, & input[type=submit], & ::-webkit-file-upload-button {
		background-color: var(--accent-color);
		color: var(--primary-light);
		&:hover {
			color: var(--secondary-color);
		}
	}

	& button, & input[type=submit] {
		margin-top: 1rem;
		margin-bottom: 2rem;
	}

	& input:not([type=file]), & textarea, & button, & ::-webkit-file-upload-button {
		border: solid var(--primary-dark) 0.1rem;
		border-radius: 0.5rem;

		&:hover {
			border-color: var(--accent-color);
		}
	}

	&.searchbar {
		display: flex;
		align-items: center;
		justify-content: center;
		
		& > input {
			height: 2rem;
			width: 18rem;
			margin: 0;
			background-color: var(--primary-light);
		}

		& > button {
			border: none;
			background-color: transparent;
			color: var(--primary-dark);
			margin: 0;
			padding: 0;

			& > label {
				margin: 0;
				margin-left: 0.5rem;
			}
		}
	}
}
