
form {

	& legend {
		font-weight: bold;
	}

	& label {
		display: block;
		margin-top: 0.3rem;
	}

	& input:not([type=file]), & textarea, & button, & ::-webkit-file-upload-button {
		border: solid var(--primary-dark) 0.1rem;

		&:hover {
			border-color: var(--accent-color);
		}
	}

	&.searchbar {
		display: flex;
		align-items: center;

		& > input {
			height: 2rem;
		}

		& > button {
			border: none;
			background-color: transparent;
			margin: 0;
			padding: 0;

			& > label {
				margin: 0;
				margin-left: 0.5rem;
			}
		}
	}
}
