
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
	min-width: none;
	background-color: var(--primary-light);
	text-align: center;
}

h1 {
	text-align: center;
}

img {
	width: 100%;
}

a, a:visited, details > summary {
	text-decoration: none;
	color: var(--accent2-color);

	&:hover {
		text-decoration: underline;
	}
}

/* Remove the arrow of details */
details > summary::-webkit-details-marker {
	display: none;
}
details > summary {
	list-style: none;
}

nav > ul {
	display: flex;
	list-style-type: none;
	padding-left: 0;
	& > li {
		&, & > a {
			padding: 0.3rem;
		}
		& > a, & > a:visited {
			font-size: 1.2rem;
			color: var(--primary-dark);
			text-decoration: none;
			&:hover {
				color: var(--accent-color);
				text-decoration: underline;
			}
		}
	}
}

main {
	background-image: linear-gradient(
		to bottom, var(--primary-light-slight-transparent), 
		var(--primary-light-slight-transparent)), 
		url("/images/site/checkerboard.jpg");
	background-size: contain;
}

main ul {
	text-align: left;
}