<h1>Premier Auto Group</h1>
<p>Check out our selection!</p>

<aside>
    <%- vehicleTypeNav %>
</aside>
<section>

    <% vehicles.forEach(vehicle => { %>
        <%- include('./partials/vehicle-card', { vehicle }) %>
    <% }) %>
</section>