<h1>Current Listings</h1>

<aside>
    <%- vehicleTypeNav %>
</aside>
<section>
    <% if (vehicles.length === 0) { %>
        <p>No vehicles found!</p>
    <% } %>
    <% vehicles.forEach(vehicle => { %>
        <%- include('../partials/vehicle-card.ejs', { vehicle }) %>
    <% }) %>
</section>