<a href="/">
    <img src="https://placehold.co/200x200/jpg" alt="Site Logo">
</a>

<form action="/vehicle" method="get" class="searchbar">
    <input type="text" name="search" id="search" required placeholder="search"></input>
    <button><label for="search"><i class="fa fa-magnifying-glass"></i></label></button>
</form>

<!-- For Mobile -->
<details>
    <summary><i class="fas fa-bars"></i></summary>
    <%- navHTML %>
</details>

<!-- For Desktop -->
<%- navHTML %> 
