<a href="/">
    <img src="https://placehold.co/200x200/jpg" alt="Site Logo">
</a>

<!-- For Mobile -->
<details>
    <summary><i class="fas fa-bars"></i></summary>
    <%- navHTML %>
</details>

<!-- For Desktop -->
<%- navHTML %> 
