
.own-today {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: var(--accent-color);
  color: var(--primary-light);
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: transparent 0.25rem solid;
  text-decoration: none;
  
  &:hover {
    border-color: var(--secondary-color);
  }
}

.centered {
  text-align: center;
  display: block;
}

@media screen and (min-width: 40rem) {
  .span {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 75rem) {
  .span {
    grid-column: 1/4;
  }
}

.gallery {
  background-color: var(--primary-light-faded);

  & *:has(img) {
    height: 15rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;

    & img {
      width: unset;
      height: unset;
      max-height: 100%;
      position: absolute;
      transform: translateX(-50%);
    }
  }

}