<p><%= message %></p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status/<%= code %>">Learn more about this error code</a>
<a href="https://github.com/alexanderdombroski/car_dealer/issues">Report an issue</a>