@media screen and (min-width: 60rem) {
  body {
    & > header {
			flex-direction: row;
			
			& > nav {
				display: block; 
				width: 100%;
				& > ul {
					flex-direction: row;
					justify-content: right;
				}
			}
			
			& > details {
				display: none;
			}
		}
  }
}