@media screen and (min-width: 75rem) {
  body {
    & > header {
			flex-direction: row;
			align-items: center;
			
			& > .searchbar {
				margin-left: auto;
				position: static;
			}
			
			& > nav {
				display: block; 
				& > ul {
					flex-direction: row;
					justify-content: right;
				}
			}
			
			& > details {
				display: none;
			}
		}
  }
}