@media screen and (min-width: 40rem) {
  body {
    & > header {
      & > a, & img {
				width: 6rem;
				height: 6rem;
			}
    }

    & > footer {
			font-size: 1.2rem;
			
			& > nav > ul > li > a {
				font-size: 2rem;
			}
		}
  }
}